/* GLOBAL */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.6em;
    margin: 0;
   background-color: #fff;
   margin-bottom:0;
}

.container{
    width: 100%;
    overflow: hidden;
}

/* header */

#header{
    background-color:rgb(36, 35, 35);
    color: #e34343;
    border: rgb(13, 182, 13) solid 0.5px;
}

#header h1{
    margin: 30px;
    float: left; /* Era só isso basicamente pra dexar o nav na mesma linha do h1 */
}

#header a{
    color: rgb(13, 182, 13);
    text-decoration:none;
}

#header li{
    list-style: none;
    display: inline;
    margin:16px; /* margin entre as palavras do menu */
    font-size: 17px;
    padding: 16px;
}

#header ul{
    float:right;
    margin: 30px; /* posição do menu no header */
}

/* Main */
#main {
    background-image: url(./Background-Contato-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid black;
}
#main h1{
    margin:200px;
    color: #e34343;
}

/* Sobre */
.titu{
    text-align:center;
}

#sobre p{
    float: right;
    width:50%;
    margin-top: 8%;
}
#sobre img{
    margin-left: 8%;
    border-radius: 10%;
}

/* Habilts */
#Habilits{
    margin-left: 5%;
}

.box{
    float:left; /* esse float e o width tem tudo a ver para fazer 3 tópicos, colunas, seja na mesma linha ou em outra */
    text-align:center;
    width:30%;
    border:1px solid black;
    border-left: none;
    color:rgb(238, 91, 91);
    background-color:rgb(39, 39, 39);
}


/* Projects */

#projects{
    margin-left: 5%;
    margin-bottom: 20px;
}

/* FOOTER */
footer{
    background-color:black;
    text-align: center;
}
footer a, footer p{
    text-decoration: none;
    color: #e34343;
}